@model IEnumerable<MVCUI.ViewModels.File.FileViewModel>
@using System.Web.Mvc.Ajax
@using MVCUI.Helpers

<div id="content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="display-name">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th class="display-description">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User)
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="display-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="display-description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink(item.User, "UserFiles", "File", new {name = item.User}, new {@class = "w3-text-cyan"})
                </td>
                <td>
                    <a href="@Url.Action("GetFile", "File", new {fileid = item.Id}, null)" class="btn btn-custom btn-default" role="button">Download</a>

                    @if (User.Identity.Name == item.User || User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "File", new {fileid = item.Id}, null)" class="btn btn-custom btn-default" role="button">Edit</a>
                        <a href="@Url.Action("Delete", "File", new {fileid = item.Id}, null)" class="btn btn-custom btn-danger" role="button">Delete</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>