<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FileStorage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/dropzonecss")*@
    <link href="~/Content/w3.css" rel="stylesheet">
</head>
<body>
<ul class="w3-navbar w3-theme w3-top w3-left-align w3-large" style="z-index: 4;">
    
    <li><a href="@Url.Action("All", "File", new { area = "" })" class="w3-theme-l1">Home</a></li>
    @Html.Partial("_LoginPartial")
</ul>
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
