@model MVCUI.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = "Change password";
}
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3>@ViewBag.Title</h3>
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <input type="submit" value="Edit"/>
    </fieldset>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}