@model MVCUI.ViewModels.Account.UserViewModel

@{
    ViewBag.Title = "Profile";
}
@if (Model.Name == User.Identity.Name)
{
    <h2>Your profile</h2>
}
else
{
    <h2>Profile of @Model.Name</h2>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            :
            @Html.DisplayFor(model => model.Name)
        </div>
        @if (Model.Name == User.Identity.Name)
        {
            <div>
                <a href="@Url.Action("ChangePassword", "Account", new {id = Model.Id}, null)" class="btn btn-default" role="button">Change password</a>
            </div>
            <br/>
            @Html.ActionLink("Your files", "UserFiles", "File", new {name = User.Identity.Name}, null)
        }
        else
        {
            @Html.ActionLink("User's files", "UserFiles", "File", new {name = Model.Name}, null)
        }
    </div>
}

@section Scripts
{
            @Scripts.Render("~/bundles/jqueryval")
        }
