@using MVCUI.ViewModels.Account
@model RegisterViewModel

@{
    ViewBag.Title = "Registration";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3>@ViewBag.Title</h3>
    <fieldset>
        <div class="editor-field">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.About)
            @Html.EditorFor(model => model.About)
        </div>
        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}