@model MVCUI.ViewModels.File.FileViewModel

@{
    ViewBag.Title = "Upload file";
}
@using (Html.BeginForm("Upload", "File", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.Title</h2>
    <div class="editor-field">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control description", placeholder = "Description"}})
    </div>
    <div class="editor-field" style="margin-bottom: 12px;">
        @Html.LabelFor(model => model.IsPublic)
        @Html.EditorFor(model => model.IsPublic)
    </div>

    <div class="file-upload btn btn-default">
        <label>
            <input type="file" name="uploadFile">
            <span>Choose file</span>
        </label>
    </div>
    <div>
        <input type="text" id="filename" class="filename" disabled>
    </div>

    <div id="dropZone">
        Drop zone
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Upload"/>
    </div>
}
    

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custominput")
    @Scripts.Render("~/bundles/dragndrop")
}