@model MVCUI.ViewModels.File.FileViewModel

@{
    ViewBag.Title = "Upload file";
}
@using (Html.BeginForm("Create", "File", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.Title</h2>
    <fieldset>
        <div class="editor-field">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.IsPublic)
            @Html.EditorFor(model => model.IsPublic)
        </div>
        <div>
            <input type="file" name="uploadFile"/>
        </div>
        <input type="submit" value="Upload"/>
    </fieldset>
}
    

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}