@model MVCUI.ViewModels.File.FileViewModel

@{
    ViewBag.Title = "Edit file";
}
@using (Html.BeginForm("Edit", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.Title</h2>
        @Html.HiddenFor(model => model.Id)
    <hr/>
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        :
        @Html.DisplayFor(model => model.Name)
    </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsPublic)
            @Html.EditorFor(model => model.IsPublic)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            <div>
                <textarea class="text-box valid" id="Description" name="Description" type="text" value="public">@Model.Description</textarea>
            </div>
        </div>
        <input type="submit" value="Edit" class="btn btn-primary" />
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}